@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Inter:wght@700&family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@500&family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&family=Sassy+Frass&display=swap');

.form {
	width: 35%;
	margin: auto;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	text-align: start;
	background: #242426;
	color: #FFFFFF;
	padding: 15px;
}

.title {
	width: 212px;
	height: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 80px;
	display: flex;
	align-items: center;
	margin: 15px 6%;
}

input{
	height: 40px;
	outline: none;
	border-radius: 2px;
	border: none;
	width: 97%;
	margin: 10px auto;
	border-radius: 10px;
	background: #323537;
	color: #FFFFFF;
	font-size: 15px;
}

input::-webkit-input-placeholder{
padding: 10px;
}

.button{
	background: linear-gradient(#000428, #004e92);
	border-radius: 10px;
	width: 97%;
	height: 40px;
	margin: 15px auto;
	color: azure;
	font-size: 19px;
	align-items: center;
	justify-content: center;
	border: none;
}

label{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

h6{
	height: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 10px auto;
}

span{
	color: #06365f;
	cursor: pointer;
	font-size: 20px;
}

.footer{
	display: flex;
	justify-content: center;
	margin-top: 60px;
	font-size: 18px;
}

@media (max-width: 950px) {
.form{
	width: 65%;
}
}

@media (max-width: 650px) {
	.form {
		width: 79%;
	}

	.footer {
		margin-top: 40px;
	}
}
@media (max-width: 500px) {
	.form {
		width: 87%;
	}
	hr{
		width: 80%;
	}
}