@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Inter:wght@700&family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@500&family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&family=Sassy+Frass&display=swap');


.userform{
	width: 35%;
	margin: auto;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	text-align: start;
	background: #242426;
	color: #FFFFFF;
	padding: 10px;
}

.title {
	width: 212px;
	height: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 80px;
	display: flex;
	align-items: center;
	margin: 15px 5%;
}

label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

input{
	height: 40px;
	outline: none;
	border-radius: 2px;
	border: none;
	width: 88%;
	margin: 10px auto;
	border-radius: 10px;
	background: #323537;
	color: #FFFFFF;
	font-size: 15px;
	/* padding-left: 15px; */
}

input::-webkit-input-placeholder {
	padding: 10px;
}

.forgot{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 0 15px ;
}

.button {
	background: linear-gradient(#000428, #004e92);
	border-radius: 10px;
	width: 100%;
	height: 40px;
	margin: 15px auto;
	color: azure;
	font-size: 19px;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 10px;
}

h6 {
	height: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 10px auto;
}

span {
	color: #06365f;
	cursor: pointer;
	font-size: 20px;
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: 200px;
	font-size: 18px;
}

@media (max-width: 950px) {
	.userform {
		width: 45%;
	}
}

@media (max-width: 650px) {
	.userform {
		width: 65%;
	}
}

@media (max-width: 500px) {
	.userform {
		width: 80%;
	}

	hr {
		width: 80%;
	}
}