form{
	margin-left: 15%;
	margin-right: 5%;
	margin-bottom: 0px;
	padding: 0px;
}

.title {
	width: 212px;
	height: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 80px;
	display: flex;
	align-items: center;
	margin: 10px;
}

.formprofile{
	box-sizing: border-box;
}

.blok1{
	display: flex;
	background: #242426;
	border-radius: 10px;
	justify-content: space-between;
	color: #80858B;
	padding: 10px;
}

.namelabel{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: start;
	width: 40%;
}

/* label{
	padding-left: 15px;
} */

.input{
	height: 50px;
	display: flex;
	align-items: flex-start;
	margin: 10px 0;
	padding-left: 5px;
}

.blok2 {
	display: flex;
	background: #242426;
	color: #80858B;
	border-radius: 10px;
	flex-direction:column;
	padding: 0px 10px;
}

.blokinput{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dark{
	margin-left: 25px;
	text-align: start;
	flex-direction: column;
}

.darkbtn {
	display: flex;
	margin: 0 25px;
	text-align: start;
	align-items: center;
	justify-content: center;
}
/* .blok2:last-child{
	display: flex;
	align-items: flex-end;
} */
/* 
@media (max-widtn:1130) {
	.namelabel {
		width: 40%;
	}
} */
.range{
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputrange{
	width: 25%;
	margin: 0 10px ;
	padding-left: 0px;
}

.btnchangepassword{
border-radius: 5px;
padding: 6px 10px;
background: linear-gradient(#000428, #004e92);
border: none;
color: antiquewhite;
font-size: 18px;
margin-bottom: 10px;
}
