form{
	margin-left: 15%;
	margin-right: 5%;
	margin-bottom: 0px;
	padding: 0px;
}

.title {
	width: 212px;
	height: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 80px;
	display: flex;
	align-items: center;
	margin: 10px;
}

.formprofile{
	box-sizing: border-box;
}

.blok1, .blok3{
	display: flex;
	background: #242426;
	border-radius: 10px;
	justify-content: space-between;
	color: #80858B;
	padding: 10px;
}

.namelabel, .namelabel2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: start;
	width: 40%;
}

.input{
	height: 50px;
	display: flex;
	align-items: flex-start;
	margin: 10px 0;
	padding-left: 5px;
}

.blok2 {
	display: flex;
	background: #242426;
	color: #80858B;
	border-radius: 10px;
	flex-direction:column;
	padding: 0px 10px;
}

.blokinput{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dark{
	margin-left: 25px;
	text-align: start;
	flex-direction: column;
}

.darkbtn {
	display: flex;
	margin: 0 25px;
	text-align: start;
	align-items: center;
	justify-content: center;
}

.range{
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputrange{
	width: 25%;
	margin: 0 10px ;
	padding-left: 0px;
}

.btns{
	margin-top: 25px;
	display: flex;
	justify-content: flex-end;
}

.btnchangepassword{
width: 130px;
border-radius: 5px;
padding: 13px;
background: linear-gradient(#000428, #004e92);
border: none;
color: antiquewhite;
font-size: 18px;
margin-bottom: 10px;
margin-left: 25px;
}

.btnchangepassword:hover, 
.btncancel:hover {
	box-shadow: 0.3em 0.3em 5px rgba(122, 122, 122, 0.5);
}
.btnchangepassword:active,
.btncancel:active {
	box-shadow: 0.3em 0.3em 5px #004e92;
}

.btncancel{
	width: 130px;
	border-radius: 5px;
	padding: 13px;
	background: #242426;
	border: none;
	color: antiquewhite;
	font-size: 18px;
	margin-bottom: 10px;
}

@media (max-width: 1000px) {
	form {
		margin: 0px 15px;
		justify-content: space-around;
	}
}

@media (max-width: 650px) {
	.blok1{
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.namelabel, .namelabel2 {
		justify-content: center;
		width: 100%;
	}

	.namelabel2{
		order: -1;
	}
}