.listset{
	position: absolute;
	margin-top: 70px;
	margin-right: 30px;
	width: 145px;
	height: 260px;
	z-index: 8;
	color: beige;
	background: linear-gradient(#000428, #004e92);
	border-radius: 10px;
}

.btnburg{
	position: relative;
}

/* @media (max-width: 820px) {
	.listset{
		margin-right: 60px;
	}
} */

@media (max-width: 820px) {
	.listset {
		margin-right: 10px;
		margin-top: 140px;
		z-index: 2;
	}
}

@media (max-width: 480px) {
	.listset {
		margin-right: 35px;
	}
}

@media (max-width: 370px) {
	.listset {
		margin-right: 45px;
	}
}